
.main-wrapper {
    height: 100vh;  
    
}

.section{ 
    margin: 0;
    height: 100%;
    background-color: rgb(55, 238, 192);
}

.logo{
    font-weight: bold;
    border-radius: 10%;
    font-size: 7em;
    background-color: rgb(55, 238, 192);
}


.menu a {
    font-weight: 100;
}

.roundItem{
    width: 22px;
    height: 22px;
    border-radius: 100%;
    position: relative;
    border: 2px solid rgb(53, 53, 241);
    background-color: rgb(134, 185, 176);
}
.lineUp{
    width: 26px;
    height: 4px;
    background-color: black;
    position:absolute;
    transform: rotate(90deg);
    bottom: 30px;
    left: -4px;
}

.year{
    position: absolute;
    right: 25px;
    font-size: 0.8em;
}

.timeline{
    margin-left: 5em;
}
